footer.footer
    div.container.footer__flex
        div.socials
            a.socials__item(href="")
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M21.7844 5.62726C19.2653 5.62726 17.2158 3.57776 17.2158 1.05859C17.2158 0.670227 16.9008 0.355469 16.5126 0.355469H12.7469C12.3585 0.355469 12.0438 0.670227 12.0438 1.05859V16.4977C12.0438 17.9786 10.8389 19.1835 9.35779 19.1835C7.87683 19.1835 6.672 17.9786 6.672 16.4977C6.672 15.0165 7.87683 13.8117 9.35779 13.8117C9.74615 13.8117 10.0609 13.4969 10.0609 13.1086V9.34283C10.0609 8.95465 9.74615 8.63971 9.35779 8.63971C5.02496 8.63971 1.5 12.1649 1.5 16.4977C1.5 20.8305 5.02496 24.3555 9.35779 24.3555C13.6906 24.3555 17.2158 20.8305 17.2158 16.4977V9.66364C18.6152 10.4098 20.1724 10.7993 21.7844 10.7993C22.1728 10.7993 22.4875 10.4845 22.4875 10.0961V6.33038C22.4875 5.9422 22.1728 5.62726 21.7844 5.62726ZM21.0813 9.36389C19.5802 9.23901 18.1547 8.7146 16.9232 7.82874C16.7091 7.67456 16.4268 7.65332 16.1918 7.7738C15.9571 7.89392 15.8095 8.13562 15.8095 8.39948V16.4977C15.8095 20.0551 12.9152 22.9492 9.35779 22.9492C5.80042 22.9492 2.90625 20.0551 2.90625 16.4977C2.90625 13.1778 5.42688 10.4354 8.65466 10.084V12.4659C6.73206 12.8002 5.26575 14.4808 5.26575 16.4977C5.26575 18.7541 7.10138 20.5899 9.35779 20.5899C11.6144 20.5899 13.45 18.7541 13.45 16.4977V1.76172H15.8505C16.1726 4.49548 18.3475 6.67041 21.0813 6.99249V9.36389Z" fill="#FFD700"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white" transform="translate(0 0.355469)"/>
                </clipPath>
                </defs>
                </svg>
            a.socials__item(href="")
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M17.5034 0.355469H6.49657C2.9143 0.355469 0 3.26977 0 6.85204V17.859C0 21.4411 2.9143 24.3554 6.49657 24.3554H17.5036C21.0857 24.3554 24 21.4411 24 17.859V6.85204C24 3.26977 21.0857 0.355469 17.5034 0.355469V0.355469ZM22.593 17.859C22.593 20.6653 20.3098 22.9484 17.5034 22.9484H6.49657C3.69012 22.9484 1.40698 20.6653 1.40698 17.859V6.85204C1.40698 4.04559 3.69012 1.76245 6.49657 1.76245H17.5036C20.3098 1.76245 22.593 4.04559 22.593 6.85204V17.859Z" fill="#FFD700"/>
                <path d="M11.9999 5.79315C8.3814 5.79315 5.43762 8.73693 5.43762 12.3555C5.43762 15.974 8.3814 18.9178 11.9999 18.9178C15.6184 18.9178 18.5622 15.974 18.5622 12.3555C18.5622 8.73693 15.6184 5.79315 11.9999 5.79315ZM11.9999 17.5108C9.1574 17.5108 6.8446 15.1982 6.8446 12.3555C6.8446 9.51293 9.1574 7.20013 11.9999 7.20013C14.8426 7.20013 17.1553 9.51293 17.1553 12.3555C17.1553 15.1982 14.8426 17.5108 11.9999 17.5108Z" fill="#FFD700"/>
                <path d="M18.7192 3.46259C17.6499 3.46259 16.7802 4.33252 16.7802 5.40167C16.7802 6.471 17.6499 7.34094 18.7192 7.34094C19.7886 7.34094 20.6585 6.471 20.6585 5.40167C20.6585 4.33233 19.7886 3.46259 18.7192 3.46259ZM18.7192 5.93377C18.4259 5.93377 18.1871 5.695 18.1871 5.40167C18.1871 5.10815 18.4259 4.86957 18.7192 4.86957C19.0128 4.86957 19.2515 5.10815 19.2515 5.40167C19.2515 5.695 19.0128 5.93377 18.7192 5.93377Z" fill="#FFD700"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white" transform="translate(0 0.355469)"/>
                </clipPath>
                </defs>
                </svg>
            a.socials__item(href="")
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                <path d="M15.997 4.34047H18.188V0.524469C17.81 0.472469 16.51 0.355469 14.996 0.355469C11.837 0.355469 9.67301 2.34247 9.67301 5.99447V9.35547H6.18701V13.6215H9.67301V24.3555H13.947V13.6225H17.292L17.823 9.35647H13.946V6.41747C13.947 5.18447 14.279 4.34047 15.997 4.34047Z" fill="#FFD700"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="24" height="24" fill="white" transform="translate(0 0.355469)"/>
                </clipPath>
                </defs>
                </svg>
            a.socials__item(href="")
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.423911 11.5714L5.95399 13.6354L8.09447 20.5192C8.23143 20.9601 8.77055 21.1231 9.12839 20.8305L12.211 18.3175C12.5341 18.0542 12.9943 18.0411 13.332 18.2862L18.8918 22.3228C19.2746 22.6011 19.817 22.3913 19.913 21.9287L23.9858 2.33744C24.0906 1.83216 23.5942 1.41064 23.113 1.59672L0.417431 10.352C-0.142649 10.568 -0.137769 11.361 0.423911 11.5714ZM7.74951 12.5367L18.5574 5.88016C18.7516 5.76088 18.9514 6.02352 18.7846 6.17824L9.86503 14.4694C9.55151 14.7613 9.34927 15.1518 9.29199 15.5758L8.98815 17.8274C8.94791 18.1281 8.52559 18.1579 8.44263 17.867L7.27407 13.761C7.14023 13.2926 7.33527 12.7924 7.74951 12.5367Z" fill="#FFD700"/>
                </svg>
            a.socials__item(href="")
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.4338 3.48523C18.1793 1.23907 15.18 0.00128174 11.9879 0C8.80298 0 5.79895 1.23669 3.52954 3.4823C1.2561 5.73175 0.00292969 8.72113 0 11.8889V11.8925V11.8947C0.000366211 13.812 0.504089 15.7462 1.46027 17.5117L0.0327759 24L6.59583 22.5071C8.25806 23.3448 10.1127 23.7865 11.9833 23.7872H11.9881C15.1725 23.7872 18.1765 22.5504 20.4463 20.3046C22.7217 18.0533 23.9755 15.0677 23.9769 11.898C23.9778 8.75061 22.7197 5.76288 20.4338 3.48523ZM11.9879 21.9141H11.9837C10.3041 21.9133 8.63983 21.4916 7.17114 20.6942L6.86078 20.5258L2.49664 21.5184L3.44458 17.2103L3.26184 16.8951C2.35327 15.3283 1.87317 13.5987 1.87317 11.8927C1.87665 6.37079 6.41364 1.87317 11.9875 1.87317C14.6803 1.87427 17.2104 2.91815 19.1118 4.81219C21.0419 6.73553 22.1045 9.25177 22.1036 11.8975C22.1014 17.4207 17.5635 21.9141 11.9879 21.9141Z" fill="#FFD700"/>
                <path d="M8.72589 6.64984H8.20038C8.01746 6.64984 7.72046 6.71832 7.46924 6.9917C7.21783 7.26526 6.5094 7.92645 6.5094 9.27118C6.5094 10.6159 7.49213 11.9152 7.62909 12.0978C7.76624 12.2802 9.52606 15.1278 12.3133 16.2233C14.6298 17.1337 15.1013 16.9526 15.6039 16.907C16.1067 16.8616 17.2264 16.246 17.4549 15.6079C17.6834 14.9698 17.6834 14.4227 17.6149 14.3084C17.5463 14.1945 17.3633 14.1262 17.0892 13.9896C16.8149 13.8528 15.4709 13.1805 15.2195 13.0891C14.9681 12.9981 14.7854 12.9525 14.6025 13.2263C14.4196 13.4995 13.881 14.1315 13.721 14.3139C13.5612 14.4965 13.4011 14.5193 13.1268 14.3826C12.8525 14.2454 11.9784 13.9517 10.9308 13.0208C10.1155 12.2963 9.54968 11.3723 9.38965 11.0988C9.2298 10.8254 9.37262 10.6774 9.51013 10.541C9.63336 10.4187 9.7998 10.2513 9.93695 10.0919C10.0739 9.93219 10.1129 9.8183 10.2045 9.63593C10.2958 9.45355 10.2501 9.29388 10.1816 9.15729C10.1129 9.02051 9.58667 7.66901 9.34277 7.12848H9.34296C9.13751 6.67328 8.92126 6.6579 8.72589 6.64984Z" fill="#FFD700"/>
                </svg>

        div.footer__logo
            img(src="img/main-logo.svg")

        div.header-info
            a.header-info__email(href="mailto:") Mail@mail.ru
            a.header-info__phone(href="tel:+7 (499) 964-44-55") +7 (499) 964-44-55

    div.container
        div.footer__bottom
            a(href="") Политика конфиденциальности