div.modal.modal--description#description
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Поддерживающая <br />уборка

        div.modal__flex
            div.modal__column
                p.modal__name Комнаты
                ol
                    li Аккуратно сложим вещи и предметы.
                    li Заправим кровать и при необходимости сменим постельное бельё.
                    li Приведем в порядок зеркала и стекла.
                    li Вымоем полы и протрём плинтуса.
                    li Пропылесосим полы, ковры и мягкую мебель.
                    li Приведем в порядок подоконник.
                    li Протрем фасады систем хранения, межкомнатные двери и наличники.
                    li Соберем и вынесем мусор.
            div.modal__column
                p.modal__name Коридор
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Расставим обувь.
                    li Протрем фасады систем хранения, межкомнатные и входную двери.
                    li Протрем розетки и выключатели.
                    li Пропылесосим; помоем пол и наличники.
            div.modal__column
                p.modal__name Санузел
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Помоем шкафчики и открытые полки снаружи.
                    li Протрем змеевик и стиральную машину.
                    li Помоем и продезинфицируем полы и контактные поверхности.
                    li Помоем и продезинфицируем раковину, сантехнику и ванную/душевую.
                    li Протрем светильники, розетки и электро-приборы.
                    li Помоем и аккуратно расставим средства гигиены.
                    li Пропылесосим коврики.
                    li Вымоем двери и наличники.
                    li Соберем и вынесем мусор.
            div.modal__column
                p.modal__name Санузел
                ol
                    li Протрем кухонные шкафы, фартук и рабочие поверхности снаружи.
                    li Помоем умеренное количество грязной посуды в раковине (15-20 мин.)
                    li Помоем бытовую технику снаружи. Включая холодильник, духовой шкаф и микроволновую печь.
                    li Приведем в порядок подоконник и радиатор.
                    li Помоем раковину и смеситель.
                    li Помоем пол и плинтуса.
                    li Вынесем мусор и заменим мусорный пакет в корзине.

        p.modal__text.modal__text--center
            strong Мы будем рады оказать дополнительные услуги для создания и поддержания <br />идеальной чистоты вашего жилища !


div.modal#form
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Заказать <br />уборку

        div.calculator-form
            input.calculator-form__input(type="text" placeholder="Как к Вам можно обращаться")
            input.calculator-form__input.tel-input(type="text" placeholder="Телефон")
            input.calculator-form__input(type="text" placeholder="Дата и время уборки")
            input.calculator-form__input.calculator-form__input--promocode(type="text" placeholder="Промокод")
            input.calculator-form__input.calculator-form__input--top40(type="text" placeholder="Адрес")
            textarea.calculator-form__textarea(placeholder="Комментарий")

            button.button.button--calculator.button--top24 Заказать уборку

div.modal#thanks
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Ваша заявка<br />принята

        p.modal__text.modal__text--center Спасибо за обращение! <br />Мы обязательно свяжемся с вами в ближайшее время для уточнения деталей.