div.modal.modal--description#supportCleaning
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Поддерживающая <br />уборка

        div.modal__flex
            div.modal__column
                p.modal__name Комнаты
                ol
                    li Аккуратно сложим вещи и предметы.
                    li Заправим кровать и при необходимости сменим постельное бельё.
                    li Приведем в порядок зеркала и стекла.
                    li Вымоем полы и протрём плинтуса.
                    li Пропылесосим полы, ковры и мягкую мебель.
                    li Приведем в порядок подоконник.
                    li Протрем фасады систем хранения, межкомнатные двери и наличники.
                    li Соберем и вынесем мусор.
            div.modal__column
                p.modal__name Коридор
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Расставим обувь.
                    li Протрем фасады систем хранения, межкомнатные и входную двери.
                    li Протрем розетки и выключатели.
                    li Пропылесосим; помоем пол и наличники.
            div.modal__column
                p.modal__name Санузел
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Помоем шкафчики и открытые полки снаружи.
                    li Протрем змеевик и стиральную машину.
                    li Помоем и продезинфицируем полы и контактные поверхности.
                    li Помоем и продезинфицируем раковину, сантехнику и ванную/душевую.
                    li Протрем светильники, розетки и электро-приборы.
                    li Помоем и аккуратно расставим средства гигиены.
                    li Пропылесосим коврики.
                    li Вымоем двери и наличники.
                    li Соберем и вынесем мусор.
            div.modal__column
                p.modal__name Кухня
                ol
                    li Протрем кухонные шкафы, фартук и рабочие поверхности снаружи.
                    li Помоем умеренное количество грязной посуды в раковине (15-20 мин.)
                    li Помоем бытовую технику снаружи. Включая холодильник, духовой шкаф и микроволновую печь.
                    li Приведем в порядок подоконник и радиатор.
                    li Помоем раковину и смеситель.
                    li Помоем пол и плинтуса.
                    li Вынесем мусор и заменим мусорный пакет в корзине.

        p.modal__text.modal__text--center
            strong Мы будем рады оказать дополнительные услуги для создания и поддержания <br />идеальной чистоты вашего жилища!

div.modal.modal--description#generalCleaning
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Генеральная <br />уборка

        div.modal__flex
            div.modal__column
                p.modal__name Комнаты
                ol
                    li Аккуратно сложим вещи и предметы.
                    li Заправим кровать и при необходимости сменим постельное бельё.
                    li Приведем в порядок зеркала и стекла.
                    li Вымоем полы и протрём плинтуса.
                    li Пропылесосим полы, ковры и мягкую мебель.
                    li Приведем в порядок подоконник.
                    li Протрем фасады систем хранения, межкомнатные двери и наличники.
                    li Соберем и вынесем мусор.
                    li Помоем и протрём светильники и осветительные приборы.
                    li Обеспылим потолок (кроме натяжных).
                    li Отодвинем нетяжелую мебель и протрем поверхности под ней.
            div.modal__column
                p.modal__name Коридор
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Расставим обувь.
                    li Протрем фасады систем хранения, межкомнатные и входную двери, наличники.
                    li Протрем розетки и выключатели.
                    li Пропылесосим; помоем пол и наличники.
                    li Помоем входную дверь, в том числе и снаружи.
            div.modal__column
                p.modal__name Санузел
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Помоем шкафчики и открытые полки снаружи.
                    li Протрем змеевик и стиральную машину.
                    li Помоем и продезинфицируем полы и контактные поверхности.
                    li Помоем и продезинфицируем раковину, сантехнику и ванную/душевую.
                    li Протрем светильники, розетки и электро-приборы.
                    li Помоем и аккуратно расставим средства гигиены.
                    li Пропылесосим коврики.
                    li Вымоем двери и наличники.
                    li Соберем и вынесем мусор.
                    li Помоем стены и плитку от пола до потолка.
                    li Приведем в порядок вентиляционную решетку.
            div.modal__column
                p.modal__name Кухня
                ol
                    li Протрем кухонные шкафы, фартук и рабочие поверхности снаружи.
                    li Помоем грязную посуду в раковине.
                    li Помоем бытовую технику снаружи. Включая холодильник, духовой шкаф и микроволновую печь.
                    li Приведем в порядок подоконник и радиатор.
                    li Помоем раковину и смеситель.
                    li Помоем пол и плинтуса.
                    li Вынесем мусор и заменим мусорный пакет в корзине.
                    li Помоем кухонные шкафы внутри.
                    li Используем лучшие средства для максимальной очистки поверхностей.
                    li Приведем в порядок вентиляционную решетку.

        p.modal__text.modal__text--center
            strong Мы будем рады оказать дополнительные услуги для создания и поддержания <br />идеальной чистоты вашего жилища!

div.modal.modal--description#afterCleaning
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Уборка <br />после ремонта

        div.modal__flex
            div.modal__column
                p.modal__name Комнаты
                ol
                    li Аккуратно сложим вещи и предметы.
                    li Заправим кровать и при необходимости сменим постельное бельё.
                    li Приведем в порядок зеркала и стекла.
                    li Вымоем полы и протрём плинтуса специальными средствами от тяжелых загрязнений.
                    li Пропылесосим полы, ковры и мягкую мебель.
                    li Приведем в порядок подоконники и отмоем радиаторы.
                    li Протрем фасады систем хранения, межкомнатные двери и наличники.
                    li Соберем и вынесем мусор.
                    li Помоем и протрём светильники и осветительные приборы.
                    li Отодвинем мебель и протрем поверхности под ней.
                    li Обеспылим все поверхности, включая стены и потолок.
                    li Очистим все поверхности от следов строительства (точечные тяжелые загрязнения, краска, малярный скотч и прочее).
            div.modal__column
                p.modal__name Коридор
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Расставим обувь.
                    li Протрем фасады систем хранения, межкомнатные и входную двери, наличники.
                    li Протрем розетки и выключатели.
                    li Пропылесосим; помоем пол и наличники.
                    li Помоем входную дверь, в том числе и снаружи.
                    li Очистим все поверхности от следов строительства (точечные тяжелые загрязнения, краска, малярный скотч и прочее).
            div.modal__column
                p.modal__name Санузел
                ol
                    li Приведем в порядок зеркала и стеклянные поверхности.
                    li Помоем шкафчики и открытые полки снаружи.
                    li Протрем змеевик и стиральную машину.
                    li Помоем и продезинфицируем полы и контактные поверхности.
                    li Помоем и продезинфицируем раковину, сантехнику и ванную/душевую.
                    li Протрем светильники, розетки и электро-приборы.
                    li Помоем и аккуратно расставим средства гигиены.
                    li Пропылесосим коврики.
                    li Вымоем двери и наличники.
                    li Соберем и вынесем мусор.
                    li Помоем стены и плитку от пола до потолка.
                    li Приведем в порядок вентиляционную решетку.
                    li Ликвидируем тяжелые загрязнения и следы строительных материалов; очистим плитку от следов затирки.
            div.modal__column
                p.modal__name Санузел
                ol
                    li Протрем кухонные шкафы, фартук и рабочие поверхности снаружи.
                    li Помоем грязную посуду в раковине.
                    li Помоем бытовую технику снаружи. Включая холодильник, духовой шкаф и микроволновую печь.
                    li Приведем в порядок подоконник и радиатор.
                    li Помоем раковину и смеситель.
                    li Помоем пол и плинтуса специальными средствами от тяжелых загрязнений.
                    li Вынесем мусор и заменим мусорный пакет в корзине.
                    li Помоем кухонные шкафы внутри.
                    li Используем лучшие средства для максимальной очистки поверхностей.
                    li Приведем в порядок вентиляционные решетки.
                    li Обеспылим все поверхности, включая стены и потолок.
                    li Очистим все поверхности от следов строительства (точечные тяжелые загрязнения, краска, малярный скотч и прочее).

        p.modal__text.modal__text--center
            strong Уборка производится с помощью профессиональной техники, включая промышленный пылесос и парогенератор. <br />Уборка осуществляется командой клинеров.


div.modal#form
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Заказать <br />уборку

        div.calculator-form
            input.calculator-form__input(type="text" placeholder="Как к Вам можно обращаться")
            input.calculator-form__input.tel-input(type="text" placeholder="Телефон")
            input.calculator-form__input(type="text" placeholder="Дата и время уборки")
            input.calculator-form__input.calculator-form__input--promocode(type="text" placeholder="Промокод")
            input.calculator-form__input.calculator-form__input--top40(type="text" placeholder="Адрес")
            textarea.calculator-form__textarea(placeholder="Комментарий")

            button.button.button--calculator.button--top24.open-modal(data-modal="#thanks") Заказать уборку

div.modal#thanks
    div.modal__content
        span.modal__close Закрыть Х

        p.modal__title Спасибо!

        p.modal__text.modal__text--center Мы свяжемся с Вами для уточнения деталей уборки и согласования удобного времени.

div.modal.modal--photo#photo
    div.modal__content
        span.modal__close Закрыть Х

        img(src="")