doctype html
html
    head
        meta(http-equiv="text/html" charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Raisa Pavlovna Cleaning - Уборка квартир и домов в Москве и Московской области
        link(rel="shortcut icon" type="image/x-icon" href="img/favicon.ico")
        link(rel="stylesheet" type="text/css" href="css/style.min.css")
    body
        // HEADER
        include ../components/header.pug

        section.top
            div.container
                h1.top__title Сервис профессиональной уборки
                p.top__text Чистота Вашего дома в наших руках!

                form.form-horizontal
                    div.form-horizontal__block.form-horizontal__block--name
                        input.form-horizontal__input(placeholder="Как к Вам обращаться" type="text")
                    div.form-horizontal__block.form-horizontal__block--phone
                        input.form-horizontal__input.tel-input(placeholder="Телефон" type="text")
                    button.button.button--form(type="submit").open-modal(data-modal="#thanks")
                        span Заказать уборку
                    div.form-horizontal__idea.popup-wrap
                        img(src="img/idea.svg")

                        div.popup
                            | Отправьте заявку, и наш менеджер свяжется с Вами для уточнения деталей уборки и согласования удобного для Вас времени.

        section.classic#classic
            div.container.classic__content
                h2.title
                    span Классическая
                    | уборка
                p.classic__text Жизнь скоротечна, а время - самый ценный и, к сожалению, невосполнимый человеческий  ресурс. <br />Мы-команда профессионалов, которая с удовольствием возьмёт на себя  рутину поддержания чистоты вашего жилища. Мы стремимся сделать вашу жизнь комфортней. Занимайтесь приятными делами, пока Раиса Павловна<sup><small>(тм)</small></sup>  наводит порядок.
                p.classic__text
                    strong Улыбка довольных клиентов - наша величайшая ценность!

                div.classic__flex
                    div.classic-block
                        div.classic-block__icon
                            img(src="img/classic1.svg")
                        p.classic-block__name Поддерживающая <br />уборка
                        div.classic-block__bottom
                            button.classic-block__more.open-modal(data-modal="#supportCleaning") Подробнее
                            p.classic-block__price от 1 800 ₽
                    div.classic-block
                        div.classic-block__icon
                            img(src="img/classic2.svg")
                        p.classic-block__name Генеральная <br />уборка
                        div.classic-block__bottom
                            button.classic-block__more.open-modal(data-modal="#generalCleaning") Подробнее
                            p.classic-block__price от 3 900 ₽
                    div.classic-block
                        div.classic-block__icon
                            img(src="img/classic3.svg")
                        p.classic-block__name После <br />ремонта
                        div.classic-block__bottom
                            button.classic-block__more.open-modal(data-modal="#afterCleaning") Подробнее
                            p.classic-block__price от 5 500 ₽

        section.services#services
            div.container
                h2.title.title--center
                    span Дополнительные
                    | услуги
                p.services__text Раиса Павловна<sup><small>(тм)</small></sup> сделает всё, чтобы у вас было чисто. Мы не ограничиваемся мытьем полов и уборкой пыли с поверхностей. Хотите большего - просто предупредите нас об этом.

                div.services__flex
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service1.svg")
                            div.popup
                                span Мойка окон
                                | Очистим окна, если температура на улице выше 10 градусов. С заботой о вашем с клинером здоровье : )
                        p.services-item__name Мойка окон
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service2.svg")
                            div.popup
                                span Очистка духового шкафа
                                | Приведём в порядок, обезжирим и облагородим духовой шкаф изнутри и снаружи
                        p.services-item__name Очистка духового шкафа
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service3.svg")
                            div.popup
                                span Очистка холодильника
                                | Очистим и продезинфицируем холодильник изнутри и снаружи
                        p.services-item__name Очистка холодильника
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service4.svg")
                            div.popup
                                span Очистка микроволновой печи
                                | Очистим и обезжирим микроволновую печь, насколько это возможно
                        p.services-item__name Очистка микроволновой <br />печи
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service5.svg")
                            div.popup
                                span Уборка балкона
                                | Протрём пыль, помоем пол; аккуратно сложим вещи на балконе. Мытьё окон в услугу не входит
                        p.services-item__name Уборка балкона
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service6.svg")
                            div.popup
                                span Мытье люстры
                                | Качественно вымоем потолочные осветительные приборы
                        p.services-item__name Мытье люстры
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service7.svg")
                            div.popup
                                span Глажка белья
                                | Профессионально погладим бельё. Услуга тарифицируется от получаса
                        p.services-item__name Глажка белья
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service8.svg")
                            div.popup
                                span Мытье посуды
                                | Соберём по квартире и аккуратно помоем посуду... даже после буйной вечеринки. Больше не нужны одноразовые тарелки : )
                        p.services-item__name Мытье посуды
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service9.svg")
                            div.popup
                                span Уборка в шкафах
                                | Аккуратно сложим вещи и протрём шкафы внутри. Обязательно ваше присутствие
                        p.services-item__name Уборка в шкафах
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service10.svg")
                            div.popup
                                span Замена постельного белья
                                | Если вы заранее подготовите комплект белья, то мы его с удовольствием перестелем
                        p.services-item__name Замена постельного <br />белья
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service11.svg")
                            div.popup
                                span Эко-уборка
                                | Уборка профессиональными гипоаллергенными эко-средствами бренда Ecover
                        p.services-item__name Эко-уборка
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service12.svg")
                            div.popup
                                span Забрать/вернуть ключи
                                | Заберем/доставим ключи с другого адреса
                        p.services-item__name Забрать/вернуть ключи
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service13.svg")
                            div.popup
                                span Уборка особых загрязнений
                                | Особым загрязнениям - особые методы очистки! Используем специальное оборудование под конкретную задачу
                        p.services-item__name Уборка особых <br />загрязнений
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service14.svg")
                            div.popup
                                span Уход за предметами питомца
                                | Вымоем миски и лоток вашего домашнего любимца
                        p.services-item__name Уход за предметами <br />питомца
                    div.services-item.open-modal(data-modal="#description")
                        div.services-item__icon.popup-wrap
                            img(src="img/service15.svg")
                            div.popup
                                span Доставка дополнительного оборудования для уборки
                                | Привезем профессиональный пылесос, стремянку и всё, что нужно для качественной уборки вашего жилища
                        p.services-item__name Доставка дополнительного <br />оборудования для уборки

        section.house#cottage
            div.house__right
                img(src="img/house.png")
            div.house__left
                div.container
                    div.house__content
                        h2.title.title--white
                            span Уборка коттеджей
                            | и летних домов
                        p.house__text Мы любим наших клиентов, особенно постоянных :)
                        p.house__text Предоставляем скидки и специальные условия владельцам коттеджей и крупной недвижимости.
                        p.house__text Наш менеджер с удовольствием разработает для Вас индивидуальное предложение по уборке загородного дома. Оставьте заявку и мы свяжемся с вами в удобное время.

                    form.form-horizontal
                        div.form-horizontal__block.form-horizontal__block--name
                            input.form-horizontal__input(placeholder="Как к Вам обращаться" type="text")
                        div.form-horizontal__block.form-horizontal__block--phone
                            input.form-horizontal__input.tel-input(placeholder="Телефон" type="text")
                        button.button.button--form(type="submit").open-modal(data-modal="#thanks")
                            span Заказать уборку

        section.furniture#furniture
            div.container
                h2.title.title--center
                    span Уход за
                    | мебелью
                p.furniture__text Заботливо приведём ваш любимый винтажный диван, а так же практически любую другую мягкую мебель, в порядок! <br />Для достижения потрясающего результата мы используем профессиональное оборудование и лучшие чистящие средства. <br />
                p.furniture__text.furniture__text--small Важно! Сумма минимального заказа услуги химчистки - от 3000 р.<br />Мебель из кожи/экокожи: +20% от базовой стоимости.

                div.furniture-slider
                    div.furniture-slider__slide
                        div.furniture-block
                            div.furniture-block__img
                                img(src="img/furniture2.jpg")
                            p.furniture-block__name Диван
                            p.furniture-block__description 2-х местный / 3-х местный
                            div.furniture-block__bottom
                                button.furniture-block__order.open-modal(data-modal="#form") Заказать уборку
                                p.furniture-block__price 1500 ₽ / 2000 ₽
                    div.furniture-slider__slide
                        div.furniture-block
                            div.furniture-block__img
                                img(src="img/furniture3.jpg")
                            p.furniture-block__name Диван
                            p.furniture-block__description 4-х местный / 5-и местный
                            div.furniture-block__bottom
                                button.furniture-block__order.open-modal(data-modal="#form") Заказать уборку
                                p.furniture-block__price 2500 ₽ / 3000 ₽
                    div.furniture-slider__slide
                        div.furniture-block
                            div.furniture-block__img
                                img(src="img/furniture4.jpg")
                            p.furniture-block__name Стул
                            p.furniture-block__description с тканевой спинкой
                            div.furniture-block__bottom
                                button.furniture-block__order.open-modal(data-modal="#form") Заказать уборку
                                p.furniture-block__price 500 ₽
                    div.furniture-slider__slide
                        div.furniture-block
                            div.furniture-block__img
                                img(src="img/furniture5.jpg")
                            p.furniture-block__name Пуфик
                            p.furniture-block__description &nbsp;
                            div.furniture-block__bottom
                                button.furniture-block__order.open-modal(data-modal="#form") Заказать уборку
                                p.furniture-block__price 400 ₽
                    div.furniture-slider__slide
                        div.furniture-block
                            div.furniture-block__img
                                img(src="img/furniture1.jpg")
                            p.furniture-block__name Кресло
                            p.furniture-block__description одноместное, компьютерное
                            div.furniture-block__bottom
                                button.furniture-block__order.open-modal(data-modal="#form") Заказать уборку
                                p.furniture-block__price 800 ₽

        section.commercial#commercial
            div.container
                div.commercial__content
                    h2.title
                        span Уборка
                        | коммерческих <br />объектов
                    p.commercial__text Оказываем услуги для корпоративного бизнеса.
                    p.commercial__text Вы можете заказать регулярную профессиональную уборку вашего офиса или торговой площади на долгосрочной основе. Мы будем рады подготовить для вас индивидуальное предложение, а также разработать персональный чек-лист, в зависимости от предстоящих задач и требований конкретного бизнеса.

                button.button.open-modal(data-modal="#form") Заказать уборку

        section.about#about
            div.container.about__main
                div.about__logo
                    img(src="img/about-logo.svg")
                div.about__content
                    h2.title
                        span О Раисе
                        | Павловне<sup><small>(tm)</small></sup>
                    p.about__text Сервис профессиональной уборки становится доступнее! Вам больше не нужно тратить время на поддержание чистоты и порядка вашего жилища. Мы созданы для того, чтобы освободить вас от этой рутины.
                    p.about__text Мы растём и развиваемся, следуя нога в ногу с современными трендами и методиками клининга, из любви к своему делу и уважения к нашим клиентам.
                    p.about__text Раиса Павловна<sup><small>(tm)</small></sup> - это команда профессионалов, разделяющих главную ценность компании - оказывать услуги на высшем уровне!
                    p.about__text Приглашая наших клинеров к себе в дом, вы можете быть абсолютно спокойны - персонал проходит строгий отбор и регулярно обучается передовым методам и технологиям ведения уборки. Ваше имущество на момент уборки страхуется от повреждений и других неловких ситуаций.
                    p.about__text Мы стремимся расширять список оказываемых услуг и предлагать нашим клиентам больше, чем они ждут от клининговой компании.

                    p.about__text.about__text--center Летайте на другие планеты,
                    p.about__text.about__text--center Покоряйте Вершины,
                    p.about__text.about__text--center Создавайте Шедевры или просто Наслаждайтесь Жизнью...
                    p.about__text.about__text--center ...пока профессионалы наводят для Вас порядок.

                    div.about__flex
                        div.about-item
                            div.about-item__icon
                                img(src="img/about1.svg")
                            p.about-item__name Страхование имущества
                        div.about-item
                            div.about-item__icon
                                img(src="img/about2.svg")
                            p.about-item__name Скидки для постоянных <br />клиентов
                        div.about-item
                            div.about-item__icon
                                img(src="img/about3.svg")
                            p.about-item__name Стремимся быть лучшими для наших клиентов
                        div.about-item
                            div.about-item__icon
                                img(src="img/about4.svg")
                            p.about-item__name Проверка и обучение <br />клинеров
                        div.about-item
                            div.about-item__icon
                                img(src="img/about5.svg")
                            p.about-item__name Использование профессиональных <br />средств и оборудования
                        div.about-item
                            div.about-item__icon
                                img(src="img/about6.svg")
                            p.about-item__name Гарантируем <br />качество!

        section.reviews#reviews
            div.container.reviews__main
                h2.title.title--white
                    span Наши работы
                    | <br />и отзывы

                div.reviews__slider
                    div.reviews__slide
                        div.review
                            div.review__before
                                img(src="img/review.png")
                                span До
                            div.review__after
                                img(src="img/review.png")
                                span После
                            div.review__content
                                p.review__name Ирина Александровна
                                p.review__city г. Москва
                                p.review__text On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs

                    div.reviews__slide
                        div.review
                            div.review__before
                                img(src="img/review.png")
                                span До
                            div.review__after
                                img(src="img/review.png")
                                span После
                            div.review__content
                                p.review__name Елена Сергеева
                                p.review__city г. Видное
                                p.review__text On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs

        section.calculator#calculator
            div.container
                h2.title.title--center
                    span Расчет
                    | стоимости

                form.calculator__flex
                    div.calculator__left
                        div.calculator-block
                            p.calculator-block__title Тип уборки

                            div.calculator-block__radios
                                div.calculator-radio
                                    input.calculator-radio__input(type="radio" id="type1" name="cleaningType" checked)
                                    label.calculator-radio__label(for="type1") Поддерживающая уборка
                                div.calculator-radio
                                    input.calculator-radio__input(type="radio" id="type2" name="cleaningType")
                                    label.calculator-radio__label(for="type2") Генеральная уборка
                                div.calculator-radio
                                    input.calculator-radio__input(type="radio" id="type3" name="cleaningType")
                                    label.calculator-radio__label(for="type3") После ремонта

                            div.calculator-block__flex
                                div.calculator-block__square
                                    p.calculator-block__subtitle Количество комнат
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num#rooms(type="text" value="1" data-min="0" data-max="5")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator-block__square#square
                                    p.calculator-block__subtitle Площадь
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="140")
                                        button.calculator-count__button.calculator-count__button--plus +

                                div.calculator-block__wc
                                    p.calculator-block__subtitle Количество санузлов
                                    div.calculator-count.calculator-count--yellow
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="1" data-max="5")
                                        button.calculator-count__button.calculator-count__button--plus +

                        div.calculator-block.calculator-block--top24
                            p.calculator-block__title Дополнительные опции

                            div.calculator__flex.calculator__flex--wrap.calculator__flex--left
                                div.calculator__count-item
                                    | 1-но створчатое окно
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | 2-х створчатое окно
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | 3-х створчатое окно
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Панорамное окно (м2)
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Уборка балкона
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Духовой шкаф
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Микроволновая печь
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Холодильник
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Глажка белья,<br />30 минут
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Уборка в шкафах,<br />30 минут
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Мытьё посуды,<br />30 минут
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Мытьё люстры
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Замена постельного белья
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="10")
                                        button.calculator-count__button.calculator-count__button--plus +
                                div.calculator__count-item
                                    | Забрать/вернуть ключи<br />(в один конец)
                                    div.calculator-count
                                        button.calculator-count__button.calculator-count__button--minus -
                                        input.calculator-count__num(type="text" value="1" data-min="0" data-max="2")
                                        button.calculator-count__button.calculator-count__button--plus +

                        div.calculator-block.calculator-block--top24
                            p.calculator-block__title Дополнительные данные

                            div.calculator__flex.calculator__flex--wrap.calculator__flex--left
                                div.calculator-checkbox
                                    input.calculator-checkbox__input(type="checkbox" id="add1")
                                    label.calculator-checkbox__label(for="add1") Доставка спец оборудования (пылесос, стремянка)
                                div.calculator-checkbox
                                    input.calculator-checkbox__input(type="checkbox" id="add2")
                                    label.calculator-checkbox__label(for="add2") Эко-уборка специальными средствами +40%

                    div.calculator__right
                        div.calculator-block
                            p.calculator-block__title Информация о заказе
                            div.calculator-form
                                input.calculator-form__input(type="text" placeholder="Как к Вам обращаться")
                                input.calculator-form__input.tel-input(type="text" placeholder="Телефон")
                                input.calculator-form__input#datetimeInput(type="text" placeholder="Дата и время уборки")
                                input.calculator-form__input.calculator-form__input--promocode(type="text" placeholder="Промокод")
                                input.calculator-form__input.calculator-form__input--top40(type="text" placeholder="Адрес")
                                textarea.calculator-form__textarea(placeholder="Комментарий. Например, «Позвонить за день до визита»")

                        div.calculator-block.calculator-block--top16
                            p.calculator-block__title Стоимость
                            p.calculator-block__price 2,300руб.

                            div.calculator-checkbox
                                input.calculator-checkbox__input(type="radio" id="cardPay" name="payment" checked)
                                label.calculator-checkbox__label(for="cardPay") Оплата картой

                            div.calculator-checkbox
                                input.calculator-checkbox__input(type="radio" id="cashPay" name="payment")
                                label.calculator-checkbox__label(for="cashPay") Оплата наличными

                            button.button.button--calculator Заказать уборку


        // FOOTER
        include ../components/footer.pug

        // MODAL
        include ../components/modal.pug

        div.calc.goToCalc
            div.calc__content
                img(src="img/calc-icon.svg")
                div.calc__text
                    | Калькулятор стоимости<br />
                    strong Рассчитать полную стоимость

        // SCRIPTS
        include ../components/scripts.pug